/*  Add your styling here */
*{
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    height:130px;
    font-size:11px;
}
.navWrapper{
   background-color: rgba(136, 93, 93, 0.651);
   width: 100%;
   display: inline-flex;
   align-items: flex-end;
   flex-wrap: nowrap;
   justify-content: space-between;
}
 .navPic{

    width: 100px;
    height:auto;
}

.menuMobile{

    text-align: right;

    padding-right: 10px;
    text-align: right;
    
}
.menuDesktop ul{
    
    justify-content: space-evenly;
    display: flex;
    list-style: none;
}
.menuMobile ul{
    color: #fff;
    list-style: none;
}
/* .menu__li{
    
} */
.navText{
    font-weight: bold;
    padding: 10px;
    font-size:2em;
} 
/* nav Bar media */
@media (min-width:350px) {
    .navBar {
        font-size: 25px;
    }
}
@media (min-width:320px) {
    .menuMobile{
        display:block;
    }
    .menuDesktop{
        display: none;
    }
}
@media (min-width:900px) {
    .menuMobile{
        display:none;
    }
    .menuDesktop{
        display: block;
    }

}

/* welcome */

.welcome{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.welcome__wrapper{
    display: flex;
    flex-direction: column;
}
.welcomePic{
    width: 100%;
    height: 600px;
    background-image: url("./img/flowerCake.jfif");
    background-position: center;
    background-size: cover;
}
.heading{
    margin: 10px;
    padding: 5px;
}
.about{
    margin: 20px;
}
/* welcome media */
@media (min-width:650px) {
    .welcome{
        flex-direction: row-reverse; 
    }
    .welcome__wrapper{
      
        align-items: end;
    }
}

/* section 2 */

.products{
    display: grid;
    grid-template-columns:auto auto;
    justify-content:space-evenly;
 grid-row: 2;
  
}

.product{
    margin: 5px;
    padding:10px;

}
.productImg{
    width: 150px;
}
/* products media */
@media (min-width:540px) {

    .products {
      
        flex-wrap: nowrap;
    }
    .productImg{
        width: 250px;
    }
}
@media (min-width:920px) {
    .products{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }
    .productImg{
        width: 300px
    };
}
/* footer */

.footer{
    
   height: 85px;   
   background-color:rgba(52, 77, 68, 0.527); 
}
.footer__links{
    padding: 10px;
}
.footer__fot{
    
    height:2.2em;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0, 0.8);
    color:#fff;
}