/*  Add your styling here */
*{
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar{
    display: flex;
    background-color: rgb(202, 177, 177);
    width: 100%;
    height:100px;
}
.navWrapper{
   background-color: rgba(136, 93, 93, 0.651);
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}
.navPic{
    width: 65px;
    height:auto;
}
.menu{
    display:flex;
    align-items: flex-end;
    padding-right: 10px;
    
}
.menu ul{
    color: #fff;
    list-style: none;
}
.menu__li{
    text-decoration: ;
}
.navText{
    align-items: flex-end;
    justify-content: end;
}

/* welcome */

.welcome{
    display: flex;
    flex-direction: column;
}
.welcomePic{
    width: 100%;
    height:10%;
}